[submodule "Re-Kernel"]
	path = Re-Kernel
	url = https://github.com/Sakion-Team/Re-Kernel
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next
[submodule "nomount"]
	path = nomount
	url = https://github.com/maxsteeel/nomount
